@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

body {
  background-image: url(https://www.syfy.com/sites/syfy/files/2020/08/traditional-cover-art-by-magali-villeneuve.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

input {
  color: rgb(255, 255, 255);
  background-color: #000000;
  width: 400px;
  height: 50px;
  margin: 20px 0px;
  border-radius: 10px;
}

input:hover {
  background-color: #303030;
}

.container {
  opacity: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.cards {
  color: white;
  transition: all .3s ease-in-out;
  height: 360px;
  width: 280px;
  border-radius: 10px;
  text-shadow: 2px 2px 2px #000000, 0 0 1em #000000, 0 0 0.3em #000000;
  font-size: 0.7rem;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.cards:hover {
  transform: scale(1.1);
}

a {
  color: #cba4e6;
}

a:link {
  text-decoration: none;
}

.spell_name {
  padding: 40px 0;
  font-size: 1.5rem;
  color: #ffc800;
  background-color: black;
}

.spell_school {
  padding-top: 30px;
  font-weight: bold;
  font-size: 0.8rem;
}

.abjuration {
  background-color: #2a2a2a;
}
  
.illusion {
  background-color: #C3ACCE;
}
  
.enchantment {
  background-color: #450005;
}
  
.divination {
  background-color: #F7B538;
}
  
.evocation {
  background-color: #F26430;
}
  
.transmutation {
  background-color: #32965D;
}
  
.necromancy {
  background-color: #201200;
}
  
.conjuration {
  background-color: #52B2CF;
}

li {
  list-style: none;
}

.innertext {
  color: white;
  text-shadow: 2px 2px 2px #000000, 0 0 1em #000000, 0 0 0.3em #000000;
  word-spacing: 3px;
}